body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Helvetica Neue",
    sans-serif;
  background: #1f1f1f;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  text-align: center;
}

.section {
  margin: 0;
  padding: 32px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------- */
/* Sections */
/* ---------------------------------------------------------------------------------- */

#scoreBoard {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 64px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background: #181818;
  padding: 16px;
}

.scoreBoard--player-name {
  color: #cfcfcf;
  padding: 0 8px;
}

.scoreBoard--score-number {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #111111;
}

#scoreBoard--score-Computer > p {
  color: #67ffb8;
  font-size: 24px;
  position: absolute;
  margin: 6px 0 0 13px;
  font-weight: 600;
}

#scoreBoard--score-Player > p {
  color: #c267ff;
  font-size: 24px;
  position: absolute;
  margin: 6px 0 0 13px;
  font-weight: 600;
}

.scoreBoard--player-scores {
  display: flex;
  align-items: center;
}

#scoreBoard--player-Computer {
  flex-direction: row-reverse;
}

#icon-choices {
  max-width: 200px;
  max-height: 200px;
}

.cls-1 {
  stroke: #f3f3f3;
}

/* ---------------------------------------------------------------------------------- */
/* Typography */
/* ---------------------------------------------------------------------------------- */

h1 {
  font-size: 52px;
  font-weight: 200;
  color: #f3f3f3;
  margin: auto 0;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 64px;
}

h2 {
  font-size: 44px;
  font-weight: 200;
  color: #f3f3f3;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  color: #f3f3f3;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  color: #cfcfcf;
}

p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: #f3f3f3;
}

.countDownToDisplay {
  font-size: 28px;
}

/* ---------------------------------------------------------------------------------- */
/* Buttons */
/* ---------------------------------------------------------------------------------- */

button {
  padding: 16px;
  font-size: 16px;
  border: none;
  background: #c267ff;
  color: #000000;
  border-radius: 2px;
  transition: 0.3s;
  margin-top: 32px;
}

button:hover {
  background: #b443ff;
  cursor: pointer;
}

button:active {
  background: #a825ff;
  cursor: pointer;
  color: #f3f3f3;
}

.options {
  box-sizing: border-box;
  padding: 16px;
  font-size: 16px;
  background: #252525;
  color: #f3f3f3;
  border: 2px solid #3b3b3b;
  border-radius: 2px;
}

.options:hover {
  background: #1f1f1f;
  border: 2px solid #3b3b3b;
}

.options:active {
  background: #1a1a1a;
  border: 2px solid #464646;
}

/* ---------------------------------------------------------------------------------- */
/* Animations */
/* ---------------------------------------------------------------------------------- */

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
